body{
    font-family: cursive;
}
@media only screen and (width>= 992px){
.menu{
    text-align: center;
    font-size: 30px;
}
.content2{
    display: flex;
}
.content{
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-evenly;
}
.heading{
    text-align: end;
    font-size: 20px;
    /* background-color: aqua; */
    margin-left: 200px;
    margin-right: 5px;
    padding-right: 5px;
}

.main_content1,.main_content2,.main_content3{
    margin: 20px;
    padding:  0px 15px 5px 15px;
    border: 3px solid black;
    background-color: grey;
    
}

}
@media only screen and (767px<=width<992px) {
    .content2{
      display: flex;
      
    }
    .main_content1,.main_content2{
        margin: 50px;
    }
    .menu{
        text-align: center;
        font-size: 30px;

    }
    .main_content3{
        margin: 0px 50px;
    }
    .main_content1,.main_content2,.main_content3{
        margin: 20px;
        padding:  0px 15px 5px 15px;
        border: 3px solid black;
        background-color: grey;
        
    }
    .heading{
        text-align: end;
    }
  }

  @media only screen and (width<=767px) {
    .content{
        display: block;
        margin: 80px;
    }
    .main_content1,.main_content2,.main_content3{
        margin: 20px;
        padding:  0px 15px 5px 15px;
        border: 3px solid black;
        background-color: grey;
        
    }
    .heading{
        text-align: end;
    }
    .menu{
        text-align: center;
        font-size: 30px;

    }
  }